*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.header{
    background-color: aliceblue;
    padding: 10px 0px;
}

.container1{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header__container1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.header__container1 .logo{
    /* border: 1px solid red; */
    padding: 10px 15px;
    font-size: 2em;
    border-radius: 8px;
    font-weight: 700;
    background-color: blue;
    color: white;
}

.nav-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 30px; */
}

.nav-item{
    /* border: 1px solid red; */
    padding: 10px 0px;
    border-radius: 5px;
}

.active a{
    background-color: darkslategray;
    color: white;
}

.nav-link{
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}

.nav-link:hover{
    background-color: rgb(155, 181, 203);
}

.icons{
    display: flex;
    gap: 30px;
}

.fa-moon, .fa-cart-shopping{
    font-size: 1.5em;
}

.hero__container1{
    min-height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero__text{
    width: 50%;
    /* border: 1px solid red; */
}

.hero__img{
    overflow: hidden;
    width: 464px;
    background-color: hsl(217 92% 10% / 1);
    padding: 1rem;
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.hero__img img{
    border-radius: 10px;
    height: 416px;
    width: 70%;
    
}



.hero__img img:last-child{
    transform: translateX(100px);
}

.hero__title{
    /* border: 1px solid red; */
    color: #394e6a;
    font-size: 4em;
    margin-bottom: 50px;
}

.hero__text__p{
    font-size: 20px;
    line-height: 30px;
    /* border: 1px solid red; */
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.hero__text button{
    border: none;
    background-color: #057aff;
    padding: 15px 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

}

.hero__text button:hover{
    background-color: #025dc4;
}

.featuredProducts{
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 100px;
}

.featuredProducts__container{
    display: flex;
    flex-direction: column;
}

.featuredProducts__title{
    color: #394e6a;
    font-size: 2em;
    padding-bottom: 30px;
    border-bottom: 1px solid #323e4e5b;
    margin-bottom: 50px;
}

.products{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.product{
    width: 31%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid black; */
    box-shadow: 5px 3px 10px #a8a9abb4;
    cursor: pointer;
    transition: all 0.3s linear;
}

.product:hover{
    box-shadow: 5px 3px 10px #79797ad9;
}

.product img{
    width: 100%;
    margin-bottom: 40px;
    /* width: 319px; */
    height: 192px;
    border-radius: 8px;
}

.product__title{
    color: #394e6a;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.product__price{
    color: #025dc4;
    margin-bottom: 30px;
}